<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.binar.projectgroupmakerbinar">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectGroupMakerBinar"
        tools:targetApi="31">
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.profile.ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.profile.ProfileEriActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.profile.ProfileHabioActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.profile.ProfileAdhiActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.profile.ProfileRodanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.profile.ProfileLukasActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.profile.ProfileUkiActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.about.AboutActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.team.TeamActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.binar.projectgroupmakerbinar.ui.aboutpage.menu.MenuAboutActivity"
            android:exported="true">
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".slider.LandingPageActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>